nav li {
  text-align: justify;
  padding-bottom: 50px;
}

p {
  font-family: 'Raleway', sans-serif;
}

header {
  background-image: url('img/fond.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  -webkit-box-shadow: -8px 10px 9px 2px rgba(47, 55, 66, 1);
  -moz-box-shadow: -8px 10px 9px 2px rgba(47, 55, 66, 1);
  box-shadow: -8px 10px 9px 2px rgba(47, 55, 66, 1);
  margin-left: 11.65%;
  width: 88.9%;
  margin-top: -1%;
  margin-right: -1%;
}

h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: 'Coda Caption', sans-serif;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Coda Caption', sans-serif;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  border: 1px Highlight solid;
  border-radius: 10px;
}

hr {
  width: 60%;
  margin-left: 27%;
  margin-top: 2%;
}

footer {
  background-color: #2f3742;
  color: white;
  font-family: 'Merienda', cursive;
  text-align: center;
  padding-top: 2%;
  padding-bottom: 2%;
  display: inline-block;
  width: 88%;
  margin-left: 12%;
}

#intro {
  color: white;
  margin-left: 5%;
  padding-top: 3%;
}

.nav {
  list-style-type: none;
  color: white;
  text-align: left;
  font-family: 'Merienda', cursive;
}

.nav a {
  color: white;
}

a:hover {
  color: Highlight;
  font-size: 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  float: left;
  z-index: 1000;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2f3742;
  height: 100%;
  width: 12%;
  overflow: scroll;
}

#aboutme {
  margin-top: 5%;
  background-color: white;
  margin-left: 25%;
  margin-right: 10%;
  width: 65%;
  text-align: justify;
}

#skills {
  margin-top: 5%;
  background-color: white;
  margin-left: 25%;
  margin-right: 10%;
  width: 65%;
  text-align: center;
}

#formation {
  margin-top: 5%;
  background-color: white;
  margin-left: 25%;
  margin-right: 10%;
  width: 65%;
  text-align: justify;
}

#formation p {
  padding-top: 3%;
}

#exp {
  margin-top: 5%;
  background-color: white;
  margin-left: 25%;
  margin-right: 10%;
  width: 65%;
  text-align: justify;
}

#interest {
  margin-top: 5%;
  background-color: white;
  margin-left: 25%;
  margin-right: 10%;
  width: 65%;
  text-align: justify;
}

#skills ul {
  list-style-type: none;
  display: flex;
}

#skills img {
  width: 50%;
}

#interest ul {
  list-style-type: none;

}

@media only screen and (max-width: 799px) {
  header {
    margin-left: 0;
    width: 100%
  }
  footer {
    margin-left: 0;
    width: 100%
  }
  hr {
    margin-left: 10%;
    width: 80%;
  }
  .sidebar {
    display: none;
  }
  h1 {
    font-size: 40px;
    text-align: center;
  }
  h2 {
    font-size: 35px;
    text-align: center;
  }
  #aboutme, #skills, #formation, #exp, #interest {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }
  #intro {
    padding-top: 1%;
  }
  p {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1249px) {
  .logo img {
    width: 120%;
  }
  .sidebar {
    width: 18%;
  }
  h3 {
    font-size: 35px;
  }
  p {
    font-size: 1.4em;
  }
  header {
    margin-left: 17.65%;
    width: 82.9%;
  }
  #aboutme, #skills, #formation, #exp, #interest {
    margin-left: 28%;
    margin-right: 5%;
    width: 65%;
  }
}

@media only screen and (min-width: 1250px) {
  h3 {
    font-size: 37px;
  }
  p {
    font-size: 1.4em;
  }
}
